/* =========== MEDIA ============ */

@media only screen and (max-width: 1200px) {/*------MEDIUM DESKTOP------*/

.logo {
	width: 200px;
}	

.sl-hero.full {
	max-height: 50vh;
}

.sl-hero.half {
  height: 33vh;
  }

.sl-hero.one-third {
	height: 25vh;
	justify-content: center;
	padding-top: 5em;
  }

section.camp-gallery .image-item {
	height: 15em;
  }

	
} /*===========1200===========*/

@media only screen and (max-width: 992px) { /*------SMALL DESKTOP / IPAD PRO------*/


section.camp-gallery .image-item {
	height: 10em;
  }

	
} /*===========992===========*/

@media only screen and (max-width: 768px) {/*------TABLET------*/

body {
  font-size: 12px;
}

.logo {
	width: 150px;
}	

.sl-hero h1 {
	font-size: 2em;
}	

.subscribe span.submit-button:before {
  top: calc(1em + 3px);
  right: 1em;
  width: 2em;
  }

.subscribe span.submit-button:after {
  top: calc(1em + 0px);
  right: calc(1em + -3px);
}

.tabs li.nav-item h2 {
  top: 25%;
  width:100%;
  }

.map-item.Shinde {
  top: 1% !important;
}

.map-item.Shinde.Enclave {
  top: 12.5% !important;
}

.map-item.Footsteps {
  top: 24% !important;
}

.bracket {
  top: 17%;
  height: 19%;
}

.bracket:before {
  top: -60%;
  }

.bracket:after {
  height: 65%;
  }
	
} /*===========768===========*/

@media only screen and (max-width: 576px) { /*------MOBILE------*/

body {

}

.logo {
	width: 150px;
}	

.camp-nav-wrapper {
	display: none;
}

.sl-hero.full {
  max-height: 75vh;
  justify-content: flex-end;
}

.sl-hero.one-third {
	justify-content: flex-end;
}

.sl-hero.half .content-wrapper {
  margin-bottom: 1em;
}

.image-tile:after {
  padding-bottom: 15em;
}

.image-tile.large .content-wrapper {
	padding: 1em;
}

.subscribe {
	padding: 1em;
	
	.form-group,
	.wpcf7-form-control {
		width:100%;
	}
	
	span.submit-button {
		float: none;
		width: 50%;
		
		.form-group {
			margin-bottom: 0;
		}
	}
}

.contact-cta {
	margin-top: 5em;
	text-align: center;
	
	.text-right {
		text-align: center !important;
	}
}

.final-element {
  margin-bottom: 5em;
}

.features {
	text-align: justify;

}

section.camp-gallery {
	margin: 5em 0;
	
	.image-item {
		height: 20em;
	}
}

.contact-details {
	margin-left: 2em;
}

#main .main-form {
  padding: 2em;
}

#myTab {
	padding: 0 1.25em;
}

.nav-link {
  padding: 0 0.25em;
}

.tabs li.nav-item h2 {
	font-size: 0.85em;
	padding: 0 5px;
  }

.tabs li.nav-item .thin-arrow {
	display: none;
}

.map-item:before {
	top: 5px;
	left: 10px;
	height: 20px;
}

.map-item .icon {
  width: 20px;
  height: 20px;
  box-shadow: none;
  border:none;
  }

.map-item .icon span {
  top: 4px;
  left: 5px;
  }

.map-item .icon:after {
  top: 9px;
  left: 6px;
  width: 8px;
  height: 5px;
  }

.map-item p {
  padding-left: 40px;
  font-size: .55em;
  line-height: 30px;
  }

.map-item a {
  padding: 3px 5px;
  margin-left: 1.5em;  
    font-size: .55em;
  }

.map-item a span {
	display: none;
}

.map-item .icon:before {
  right: -15px;
  }

.map-item:hover:before {
  width: 95%;
}

.map-item.Shinde {
  top: 5% !important;
}

.map-item.Shinde.Enclave {
  top: 15% !important;
}

.map-item.Footsteps {
  top: 25% !important;
}

.bracket {
  top: 21%;
  height: 15%;
}

.bracket:after,
.bracket:before {
  right: -1px;
  }
	
} /*===========576===========*/












