/*! == VARIABLES == */

$sl-theme-primary: #353a30;
$sl-theme-secondary: grey;
$sl-theme-tertiary: white;
$sl-text-color: #353a30;
$sl-heading-color: #3c3c3c;
$sl-subdued-line: #757575;

$heading-font: 'goudy-old-style', serif;
$body-font: 'noto-sans', sans-serif;

